<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Alex and Jenna's Photo Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poiret+One'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="stylesheets/jenna.css">
  </head>
  <body style="font-family:Roboto">

      Hi Jenna, <br>

      I see you remembered our photo gallery- seems like forever since I gave it to you hm? <br>
      Don't worry, I kept it in mind too, and brought it up to date. I've also kept it hidden <br>
      by making sure strangers can't find it. <br>

      You'll find the photo gallery at <b>alexlchen.com/&ltnickname&gt</b> where nickname is what you call me <br>
      when you're being cute. <br> <br>

      See you over there!

  
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js'></script> 
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="js/gallery.js"></script>
  </body>
</html>


