<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poiret+One'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="stylesheets/syncotrackjackets.css">
<h1 class="title">Synco Track Jackets</h1>
<div id="form" class="form-container">

    <div id="myProgress">
        <div id="myBar"></div>
    </div>

    <div class="form-element">
        Your Name <br> <input class="name-input" id="name">
    </div>

    <div class="form-element">
        Email <br> <input class="name-input" id="email">
    </div>

    <div class="main-button-holder">
        <button onClick="toggleForm(2)" class="homepage-button">Buy a jacket for a current Synco (or myself)</button>
        <button onClick="toggleForm(1)" class="homepage-button">Other donation</button>

    </div>

    <div style="display:none" id="contribute-donation">
        <div class="form-element">
            (Contribute an amount of your choice, and let Alex choose where the funds go!)
        </div>
        <div class="form-element">
            Amount to Contribute<br> <input class="contribute-input" id="contribute-input">
        </div>

        <div class="form-element">
            Message for the group? (optional) <br> <textarea style="text-align: left" id="donation-message-input"></textarea>
        </div>

        <div class="form-element">
            Venmo Username or other form of payment? <br> <input id="payment-donation-input">
        </div>

        <button onclick="submitContributeDonation()" class="homepage-button submit-button">submit</button>
    </div>


    <div style="display:none" id="contribute-jacket">
        <!--Place for members to choose from-->
        <!--<div id="choice" class="form-element">-->
            <!--How would you like to contribute? <br>-->
            <!--<button id="members-choice" class="homepage-button choice-button">Contribute to Specific Syncos!</button>-->
            <!--&lt;!&ndash;<button id="numbers-choice" class="homepage-button choice-button">Choose for me please!</button>&ndash;&gt;-->
        <!--</div>-->
        <div id="syncos" class="form-element">
            Which Syncos (if any) do you want to order a jacket for? Check out our <a href="http://syncopasian.com/#/current-members" target="_blank">current members</a> :)
            <br> If you don't want to choose, select "other donation"
            <br><br>
            <div id="member-buttons">
                <button id="cchang" class="homepage-button member-button">Chris Chang (tenor)</button>
                <button id="dliu" class="homepage-button member-button">Daniel Liu (bari)</button>
                <button id="dwhatley" class="homepage-button member-button">Daniel Whatley (bari)</button>
                <button id="ehu" class="homepage-button member-button">Emily Hu (mezzo)</button>
                <button id="jyang" class="homepage-button member-button">Janice Yang (sop)</button>
                <button id="jpark" class="homepage-button member-button">Justin Park (bass)</button>
                <button id="kmao" class="homepage-button member-button">Kevin Mao (tenor)</button>
                <button id="mzhang" class="homepage-button member-button">Maddy Zhang (sop)</button>
                <button id="mphu" class="homepage-button member-button">Melody Phu (alto)</button>
                <button id="rzhang" class="homepage-button member-button">Rachel Zhang (mezzo)</button>
                <button id="shwang" class="homepage-button member-button">Shannon Hwang (mezzo)</button>
                <button id="tqin" class="homepage-button member-button">TC Qin (bass)</button>
                <button id="tzeng" class="homepage-button member-button">Tianyi Zeng (tenor)</button>
            </div>
        </div>

        <div class="form-element">
            Message for your contributee? (optional)<br> <textarea style="text-align: left" id="full-message-input"></textarea>
        </div>

        <div class="form-element">
            Do you want a jacket? (optional) <br> <input id="want-one-input">
        </div>

        <div class="form-element">
            If yes to previous: address and size <br> <textarea id="orderer-info-input"></textarea>
        </div>

        <div class="form-element">
            Venmo Username or other form of payment? <br> <input id="payment-contribute-input">
        </div>

        <button onclick="submitContributeJacket()" class="homepage-button submit-button">submit</button>
    </div>
    <div id="error" style="display: none">
        Uh oh! Looks like you forgot some fields.
    </div>

</div>

<div style="display:none; text-align: center; color: white" id="thanks">

    Thanks! Expect an email confirmation from Alex soon :)
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

    let socket = io();

    document.getElementById("members-choice").addEventListener("click", function() {
        document.getElementById("choice").style.display = "none";
        document.getElementById("syncos").style.display = "block";

    });


    document.getElementById("numbers-choice").addEventListener("click", function() {
        document.getElementById("choice").style.display = "none";
        document.getElementById("number-to-contribute").style.display = "block";

    });


</script>

<script>
    let claimed = new Set();

    let btnContainer = document.getElementById("member-buttons");

    let btns = btnContainer.getElementsByClassName("member-button");

    for (let i = 0; i < btns.length; i++) {
        console.log(i);
        btns[i].addEventListener("click", function() {
            console.log(this.innerText)
            // socket.emit("claim", this.id)
            if (this.className.includes("active")) {
                this.className = this.className.replace(" active", "");
                claimed.delete(this.id)
            }
            else {
                claimed.add(this.id);
                this.className += " active";
            }
        });
    }

    socket.on('claim', function(msg){
        console.log(msg)
        for (let claimedmember of msg["claimed"].values()) {
            if (document.getElementById(claimedmember)) {
                document.getElementById(claimedmember).disabled = true;
            }
        }
    });



    function submitContributeJacket() {
        if (!document.getElementById("name").value || !document.getElementById("email").value) {
            document.getElementById("error").style.display = "block";
        }
        else {
            let info = {
                "name": document.getElementById("name").value,
                "email": document.getElementById("email").value,
                "claimed": Array.from(claimed),
                "message": document.getElementById("full-message-input").value,
                "want-one": document.getElementById("want-one-input").value,
                "orderer-info": document.getElementById("want-one-input").value,
                "payment": document.getElementById("payment-contribute-input").value,

            }

            console.log(info);
            socket.emit("data", info)
            document.getElementById("form").style.display = "none";
            document.getElementById("thanks").style.display = "block";

        }
    }

    function toggleForm(formIndex) {
        socket.emit("requestClaimed", "req");
        if (formIndex === 1) {
            document.getElementById("contribute-donation").style.display = "block";
            document.getElementById("contribute-jacket").style.display = "none";
        }
        if (formIndex === 2) {
            document.getElementById("contribute-donation").style.display = "none";
            document.getElementById("contribute-jacket").style.display = "block";
        }
    }


</script>

<script src="js/syncotrackjackets.js"></script>
